/* styles.css */
body {
    margin: 0;
    font-family: Arial, sans-serif;
  }
  
    /* permet d'eviter que le header ne cache le contenu */
  .content {
    padding-top: 80px; /* Hauteur approximative du header */
  }
  