/* styles.css */
body {
    margin: 0;
    padding-bottom: 50px; /* pour éviter que le contenu soit caché derrière le footer */
  }
  
    /* permet d'eviter que le header ne cache le contenu */
  .content {
    padding-top: 90px; /* Hauteur approximative du header */
  }
  