<div class="homepage-container">
  <img
    class="banner-image"
    src="assets/banner-image/banner-image414.jpg"
    alt="The roundtable hold from Elden Ring"
    srcset="
      assets/banner-image/banner-image414.jpg   414w,
      assets/banner-image/banner-image768.jpg   768w,
      assets/banner-image/banner-image1024.jpg 1024w
    "
    sizes="(max-width: 600px) 414px,
            (max-width: 900px) 768px,
            1024px"
  />
  <img
    src="assets/pierre+bradley-image/pierrAndBradley414.jpg"
    alt="Pierre Girard and Bradley Hill"
    class="creators-image"
    srcset="assets/pierre+bradley-image/pierreAndBradley414.jpg 414w,
            assets/pierre+bradley-image/pierreAndBradley768.jpg 768w,
            assets/pierre+bradley-image/pierreAndBradley1024.jpg 1024w"
    sizes="(max-width: 600px) 414px,
            (max-width: 900px) 768px,
            1024px"
  />
  <div class="reasonForBeing-container">
    <h2>Reason for being</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem
      deserunt nemo atque quas excepturi dolorem maiores perspiciatis totam eos
      nulla unde reiciendis ea, tempore vitae numquam dolore suscipit quam quasi
      ab. Quo, accusantium accusamus a sit quaerat odit magnam, et animi aliquid
      distinctio ex cum tenetur pariatur itaque eius recusandae rem ipsam facere
      molestiae exercitationem. Magnam incidunt natus perspiciatis nisi facere
      fugit quos nostrum dicta debitis quia, commodi, totam quam modi et nemo
      architecto minima sunt, id molestias iusto aspernatur quisquam? Totam,
      officia nam aut voluptates, officiis nobis quibusdam facilis perferendis
      repellendus mollitia possimus voluptas. Blanditiis placeat ullam ex.
      Vitae.
    </p>
  </div>
  <div class="howItWorks-container">
    <h2>How it work.</h2>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint ut et eius
      rerum voluptatibus odit quam maiores numquam nostrum, ipsa eveniet labore
      ratione, rem fuga? Ipsa est ipsam quasi similique quia. Tenetur sit
      voluptatibus iste ratione accusantium repellat blanditiis libero deleniti
      maxime, quam nostrum hic eos! Delectus est eaque maxime amet distinctio
      reprehenderit, fuga id repudiandae harum provident necessitatibus, iusto
      numquam cum odio alias, ipsam qui nulla reiciendis repellendus nostrum!
      Cumque minus, praesentium esse tempore ipsa omnis. Corporis doloribus
      sequi recusandae quibusdam, temporibus quis nostrum in consequatur.
      Deleniti dolore magni ipsum! Recusandae quod cum facere unde dolores est
      quisquam. Officiis incidunt, neque deleniti quos ratione iste perferendis
      veniam molestiae repellendus vel cumque voluptatum quas magni atque
      repellat at voluptate fugit natus quia illum, facere laboriosam totam.
      Quisquam excepturi possimus hic consequuntur eaque amet, tempora ad
      facilis ipsa ullam ea expedita tempore dicta nemo doloremque repellat
      voluptatem labore, atque dignissimos nam. Distinctio, atque id, ipsam ut
      placeat maxime qui in, eos molestias aut consequatur doloribus
      necessitatibus praesentium beatae repellat corporis nemo eum nam aliquam
      ratione hic!
    </p>
  </div>
  <div class="secondaryLinks-container">
    <a routerLink="/login" class="link-button">Login</a>
    <a routerLink="/events" class="link-button">Events</a>
  </div>
</div>
